.cover_container {
  background-image: url('https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  min-height: 100hv;
  clear: both;
}

.box{
  background: rgba(34, 34, 46, 0.9);
  padding: 30px 16px;
  color: blanchedalmond;
  border-radius: 5px;     
}

.box h1{
  margin-top: 20px;
}

.box a{
  color: #d7d7d7;
  text-decoration: underline;
}


.box h4{
  margin-top:20px;
  color: darkgrey;
}

.box ul{
  margin-bottom: 30px;
  background-color: rgba(54, 118, 141, 0.2);
  padding: 16px 30px;
  border-radius: 6px;
  display: block;
}

.box li{
  margin-bottom: 10px;
  list-style: none;
}

.box li a::before{
  content: "";
  font-size: 14px;
}

.content_custom{
  margin: 40px;
  display: block;
  clear: both;
}